<div class="card bg-base-100 p-8">
  @if(forecastResource.status() === "loading") {
  Loading
  }
  @else if(forecastResource.status() === "error") {
  Error {{forecastResource.error()}}
  }
  @else if (forecastResource.hasValue() && forecastResource.value === undefined) {
  No forecast
  }
  @else {
  <app-pollen-regional-report [forecast]="forecastResource.value()!"></app-pollen-regional-report>
  }


  @if(hassTemperatureResource.status() === "loading") {
  Loading
  }
  @else if (hassTemperatureResource.status() === "error") {
  Error {{hassTemperatureResource.error()}}
  }
  @else if(hassTemperatureResource.hasValue() && hassTemperatureResource.value === undefined) {
  No temperature
  }
  @else {
  {{hassTemperature()}}
  }
</div>


@if(weatherForecastResource.status() === "loading") {
Loading
}
@else if(weatherForecastResource.status() === "error") {
Error {{weatherForecastResource.error()}}
}
@else if (weatherForecastResource.hasValue() && weatherForecastResource.value === undefined) {
No weather forecast
}
@else {
@let w = weatherForecastResource.value()!;
<table class="table">
  <thead>
    @let h = w.days[0].parameters.headers;
    <tr>
      <th>{{h.day}}</th>
      <th>{{h.symbol}}</th>
      <th>{{h.temp}}</th>
      <th>{{h.wind}}</th>
      <th>{{h.percipitation}}</th>
    </tr>
  </thead>
  @for(d of w.days; track $index) {
  <tr>
    @let r = d.parameters.rows;
    <td>{{r.day | date}}</td>
    <td>{{r.symbol}}</td>
    <td>{{r.temp.min | number: "1.1-1"}}-{{r.temp.max | number: "1.1-1"}} {{r.temp.unit}}</td>
    <td>{{r.wind.direction}} {{r.wind.speed | number: "1.1-1"}} ({{r.wind.gust | number: "1.1-1"}}) {{r.wind.unit}}</td>
    <td>{{r.percipitation.min | number: "1.1-1"}}-{{r.percipitation.max | number: "1.1-1"}} {{r.percipitation.unit}}
    </td>
  </tr>

  }
</table>
}
