<div class="card bg-base-100 p-8">
  @if(pollenForecastResource.status() === "loading") {
  Loading
  }
  @else if(pollenForecastResource.status() === "error") {
  Error {{pollenForecastResource.error()}}
  }
  @else if (pollenForecastResource.hasValue() && pollenForecastResource.value() === undefined) {
  No forecast
  }
  @else {
  <app-pollen-regional-report [forecast]="pollenForecastResource.value()!"></app-pollen-regional-report>
  }


  @if(hassTemperatureResource.status() === "loading") {
  Loading
  }
  @else if (hassTemperatureResource.status() === "error") {
  Error {{hassTemperatureResource.error()}}
  }
  @else if(hassTemperatureResource.hasValue() && hassTemperatureResource.value === undefined) {
  No temperature
  }
  @else {
  Inner temperatur: {{hassTemperature() | number: "1.0-0"}} Celcius
  }
</div>


@if(weatherResource.isLoading()) {
Loading
}
@else if(weatherResource.error()) {
Error
<span>{{weatherResource.error()!.cause}}</span>
<span>{{weatherResource.error()!.message}}</span>
<span>{{weatherResource.error()!.name}}</span>


}
@else if (!weatherResource.hasValue()) {
No weather forecast here
}
@else {
@let summary = weatherResource.summaryMultipleDayForecast();

<div class="card bg-base-100">
  @if(summary === undefined) {
  summary is undefined
  }
  @else {
  @for(d of summary.dates; track $index) {
  <span>
    {{d.date}}
  </span>
  }
  }
</div>

<!-- <div class="card bg-base-100"> -->
<!--   <span class="">Temperatur och väder</span> -->
<!--   <app-range-bar-chart class="card p-8" [options]=weatherForecastAsData(w) [labelIcons]=weatherForecastAsIcons(w)> -->
<!--   </app-range-bar-chart> -->
<!---->
<!-- </div> -->
<!---->
<!-- <section class="card bg-base-100"> -->
<!--   <span>Dag för dag</span> -->
<!--   <app-daily-weather-table class="card bg-base-100 p-8" [forecast]="w"></app-daily-weather-table> -->
<!-- </section> -->
}
