<div class="card bg-base-100 p-8">
  @if(forecastResource.status() === "loading") {
  Loading
  }
  @else if(forecastResource.status() === "error") {
  Error {{forecastResource.error()}}
  }
  @else if (forecastResource.hasValue() && forecastResource.value() === undefined) {
  No forecast
  }
  @else {
  <app-pollen-regional-report [forecast]="forecastResource.value()!"></app-pollen-regional-report>
  }


  @if(hassTemperatureResource.status() === "loading") {
  Loading
  }
  @else if (hassTemperatureResource.status() === "error") {
  Error {{hassTemperatureResource.error()}}
  }
  @else if(hassTemperatureResource.hasValue() && hassTemperatureResource.value === undefined) {
  No temperature
  }
  @else {
  Inner temperatur: {{hassTemperature() | number: "1.0-0"}} Celcius
  }
</div>


@if(weatherForecastResource.status() === "loading") {
Loading
}
@else if(weatherForecastResource.status() === "error") {
Error {{weatherForecastResource.error()}}
}
@else if (weatherForecastResource.hasValue() && weatherForecastResource.value === undefined) {
No weather forecast
}
@else {
@let w = weatherForecastResource.value()!;

<app-range-bar-chart class="card p-8" [options]=weatherForecastAsData(w)
  [labelIcons]=weatherForecastAsIcons(w)>
</app-range-bar-chart>

<app-daily-weather-table class="card bg-base-100 p-8" [forecast]="w"></app-daily-weather-table>
}
